<div class="px-2 lg:px-7 pt-5">
    <div
        class="flex lg:hidden justify-between items-center mb-5 p-4 bg-[#6a5fdf] rounded-md"
    >
        <h1 class="text-[#d0d2d6] font-semibold text-lg">Category</h1>
        <button
            (click)="show = true"
            class="bg-red-500 shadow-lg hover:shadow-red-500/40 px-4 py-2 cursor-pointer text-white rounded-sm text-sm"
        >
            Add
        </button>
    </div>
    <div class="flex flex-wrap w-full">
        <div class="w-full lg:w-7/12">
            <div class="w-full p-4 bg-[#6a5fdf] rounded-md">
                <app-search
                    [searchValue]="$searchValue()"
                    (setSearchValue)="$searchValue.set($event)"
                    (setParPage)="$parPage.set($event)"
                ></app-search>
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left text-[#d0d2d6]">
                        <thead
                            class="text-sm text-[#d0d2d6] uppercase border-b border-slate-700"
                        >
                            <tr>
                                <th scope="col" class="py-3 px-4">No</th>
                                <th scope="col" class="py-3 px-4">Image</th>
                                <th scope="col" class="py-3 px-4">Name</th>
                                <th scope="col" class="py-3 px-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (category of $categories(); track category._id;
                            let idx = $index) {
                            <tr>
                                <td
                                    class="py-1 px-4 font-medium whitespace-nowrap"
                                >
                                    {{ idx + 1 }}
                                </td>
                                <td
                                    class="py-1 px-4 font-medium whitespace-nowrap"
                                >
                                    <img
                                        class="w-[45px] h-[45px]"
                                        [src]="category.image"
                                        alt=""
                                    />
                                </td>
                                <td
                                    class="py-1 px-4 font-medium whitespace-nowrap"
                                >
                                    {{ category.name }}
                                </td>
                                <td
                                    class="py-1 px-4 font-medium whitespace-nowrap"
                                >
                                    <div
                                        class="flex justify-start items-center gap-4"
                                    >
                                        <a
                                            class="p-[6px] bg-yellow-500 rounded hover:shadow-lg hover:shadow-yellow-500/50"
                                        >
                                            <fa-icon
                                                [icon]="fanPenToSquare"
                                            ></fa-icon>
                                        </a>
                                        <a
                                            class="p-[6px] bg-red-500 rounded hover:shadow-lg hover:shadow-red-500/50"
                                        >
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="w-full flex justify-end mt-4 bottom-4 right-4">
                    <app-pagination
                        [$pageNumber]="$currentPage()"
                        [$totalItem]="50"
                        [$parPage]="$parPage()"
                        [$showItem]="3"
                        (setPageNumber)="$currentPage.set($event)"
                    ></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
